body {
  background: hsl(233, 47%, 7%);
}

.box {
  display: inline-block;
  position: absolute;
  top: 25%;
  left: 18%;
  right: 18%;
  bottom: 20%;
  /*width: 62.5rem;
  */
  height: 25rem;
  margin: auto;
  padding: 2.5rem;
  background: hsl(244, 38%, 16%);
  font-family: "Lexend Deca", sans-serif;
  color: hsla(0, 0%, 100%, 0.75);
  border-radius: 0.5rem;
}

.image {
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 40%;
  left: 55%;
  right: 0;
  width: 36.25rem;
  height: 100%;
  background-image: url(images/desktop-design.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0px 10px 10px 0px;
}

.main-text {
  display: block;
  width: 31.25rem;
  margin: 0;
  color: hsl(0, 0%, 100%);
  font-family: "Inter", sans-serif;
}

.all-text {
  width: 31.25rem;
  margin-top: 2rem;
  margin-left: 3.1rem;
  margin-right: 0;
}

.p-tag {
  width: 25rem;
  line-height: 2rem;
  height: 40px;
  padding-top: 1rem;
}

.violet {
  color: hsl(277, 64%, 61%);
}

.stats {
  display: inline-block;
  text-align: center;
  height: 15rem;
  margin-left: auto;
  margin-right: auto;
  margin-left: 2.8rem;
}

.stat {
  display: inline-block;
  text-align: left;
  position: relative;
  top: 4rem;
  margin-right: 0rem;
  color: hsla(0, 0%, 100%, 0.6);
  text-transform: uppercase;
}

.stats-header {
  width: 11.25rem;
  margin-right: 0;
  color: hsl(0, 0%, 100%);
}

@media (max-width: 23.43rem) {
  body {
    margin-right: 0.5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .box {
    max-width: 88px;
    min-width: 80px;
    display: block;
    padding: 8rem;
    min-height: 35.5rem;
    max-height: 35rem;
    position: absolute;
    top: 85%;
    bottom: 80%;
    left: 1%;
    right: 1%;
    /* margin-left: 0.1rem; */
    /* margin-right: 0.1rem; */
    overflow: hidden;
  }
  .image {
    display: none;
  }
  .mobile-image {
    min-width: 21.56rem;
    /* height: auto; */
    min-height: 17.82rem;
    background-image: url(images/desktop-design.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    /* bottom: 670%; */
    right: 0rem;
    /* overflow: auto; */
    /* left: -1%; */
    border-radius: 10px 10px 0px 0px;
    /*width: 3rem;
    */
    /*display: inline-block;
    position: absolute;
    top: 0;
    bottom: 40%;
    left: 55%;
    right: 0;
    width: 36.25rem;
    height: 100%;
    background-image: url(images/desktop-design.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0px 10px 10px 0px;
    */
  }

  .all-text {
    display: block;
    position: absolute;
    top: 30%;
    width: 1rem;
    text-align: center;
    left: -5%;
    font-size: 0.9rem;
  }
  .stats {
    display: block;
    text-align: right;
    height: 15rem;
    position: absolute;
    top: 60%;
    right: 24%;
    font-size: 0.8rem;
    margin-left: auto;
    margin-right: auto;
  }

  .stat {
    text-align: center;
  }
  .main-text {
    text-align: center;
    position: relative;
    /* left: %; */
    right: 15%;
    width: 300px;
    margin-top: 2rem;
    margin-right: 3rem;
  }

  .p-tag {
    width: 270px;
    position: relative;
    right: 68%;
    text-align: center;
    margin-top: 0;
    margin-bottom: 2rem;
    left: 10%;
  }
  .one::before {
    content: "\a";
    white-space: pre;
  }

  .line-break::after {
    content: "\a";
    white-space: pre;
  }
  .one {
    width: 200px;
    height: 40px;
  }
}
